.wm{
    max-width: 320px;
}
article{
    background-color: #EAF6F6; 
}
body{
    background-color: #EAF6F6; 
}
.bor{
    text-align: center;
}
.pt{
    margin-top: 0;
    padding-top: 1em;
    font-size: 1.2em;
    color: #888;
    text-align: start;
}
h1{
    text-align: start;
}
body {
    font-family: RobotoSlab-Light,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.spa{
    margin: 20px;
    margin-top: 0px;
}
.bord{
    color: #888;
    border-bottom: 2px solid;
}